@tailwind base;
@tailwind components;
@tailwind utilities;


.overflowing::-webkit-scrollbar{
    display: none;
}

.customisation{
    
    height: 100vh;
    background-image: url('/bgImg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}
.inner-custom{
    z-index: -1;
    background: inherit;
}